*{
  margin: 0;
  padding: 0;
}
h1{
  color: #e84848;
}
button{
  background-color: #7aa44a !important;
  color:white !important;
  border-radius: 0 !important;
}
input{
  border: none !important;
  width:95%;
  box-shadow: none;
  outline: none;
}
.icon{
  font-size: 22px;
}
.border-botton{
  border-bottom: 1px solid #646464;
}
.icono{
  height: 20px;
  width: 20px;
  margin: 0.5% 4%;
}
.fondo{
  background-image: url(../icon/fondo.png);
  background-size: cover;
  background-color:  #F2F2F2;
  height: 30px;
  padding: 3%;
  display: flex;
  justify-content: center;
}
.img-responsive{
  padding: 0 30px;
  height: 100%;
}
.pokeBola{
  height: 200px;
}
a{
  background-image: url(../icon/pokeball_gray.png);
  background-size: cover;
  display: inline-block;
}
.mayuscula{
  text-transform: capitalize;
}
.pokenvase{
  background-color: #F2F2F2;
  height: 150px;
  padding: 5%;
  color: transparent;
}
.pokeContainer{

}
.col-md-2{
  width: 20% !important;
}
